<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<servlet>
		<servlet-name>RequestMD5Key</servlet-name>
		<servlet-class>net.peterkuterna.appengine.apps.devoxxsched.servlet.RequestMD5KeyServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RequestMD5Key</servlet-name>
		<url-pattern>/requestmd5key</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RecalculateMD5Keys</servlet-name>
		<servlet-class>net.peterkuterna.appengine.apps.devoxxsched.servlet.RecalculateMD5KeysServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RecalculateMD5Keys</servlet-name>
		<url-pattern>/cron/recalculatemd5</url-pattern>
	</servlet-mapping>
	<security-constraint>
		<web-resource-collection>
			<url-pattern>/cron/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>admin</role-name>
		</auth-constraint>
	</security-constraint>
	<welcome-file-list>
		<welcome-file>devoxx_map.html</welcome-file>
	</welcome-file-list>
</web-app>
